pydantic
pydantic-settings
sqlalchemy
sqlmodel
python-dotenv
fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-groq
langchain-anthropic
langchain-core
langchain-community
anthropic
jinja2 
python-multipart
supabase
autogen-agentchat
autogen-core
autogen-ext
-e .